<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список записей</title>
</head>
<body>
    <h1>Список записей</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Увлечения</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.user_id }}</td>
                <td>{{ user.user_name }}</td>
                <td>{{ user.user_surname }}</td>
                <td>{{ user.user_hobby }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Нет записей для отображения.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>